@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
button,
.btn {
  background-color: transparent !important;
  /* border: none !important; */
}
button:focus,
.btn:focus {
  box-shadow: none !important;
}
button:focus-visible,
.btn:focus-visible {
  outline: none !important;
}
ul,
ol,
li {
  list-style-type: none;
}
body {
  font-family: var(--fontFamily);
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.sticky {
  position: fixed;
  top: -60px;
  width: 100%;
  z-index: 2;
  animation: goDown 0.5s ease-in-out forwards;
  -webkit-animation: goDown 0.5s ease-in-out forwards;
  background-color: var(--Background-Color);
}
@keyframes goDown {
  0% {
    top: -60px;
  }
  100% {
    transform: translateY(60px);
  }
}

.sticky + .content {
  padding-top: 60px;
}

/* custom scrollbar */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--N900);
}

::-webkit-scrollbar-thumb {
  background-color: var(--Primary);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

/* custom scrollbar */

:root {
  --Background-Color: #fff;
  --fontFamily: "Lexend", sans-serif;
  --primary: #6a3fc7;
}

.bg-success {
  background: var(--primary) !important;
}
.text-success {
  color: var(--primary) !important;
}
.border-success-subtle {
  border-color: var(--primary) !important;
}

hr {
  background-color: #c1c4d6;
}
.image span i {
  font-size: 20px;
  font-weight: 600;
  color: var(--flash-sell);
  cursor: pointer;
}
.image {
  overflow: hidden;
}
.image img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}
.image:hover img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transition: all linear 0.4s;
}

/* btn design */
.warning {
  border: 1px solid #e85342 !important;
  border-radius: 8px;
  background-color: transparent !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #e85342 !important;
}
.success {
  background: #016a78 !important;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.success-outliine {
  background: transparent !important;
  border: 1px solid #016a78 !important;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #016a78 !important;
}
/* btn design */

/* preloader */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 10001;
}

#preloader > div {
  position: relative;
  width: 160px;
  height: 160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/***************************************************
 * Generated by SVG Artista on 2/27/2023, 4:02:12 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-1 {
  fill: rgb(82, 189, 148);
}

svg .svg-elem-2 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.active .svg-elem-2 {
  fill: rgb(66, 151, 119);
}

svg .svg-elem-3 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-elem-3 {
  fill: rgb(16, 24, 64);
}

svg .svg-elem-4 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.active .svg-elem-4 {
  fill: rgb(16, 24, 64);
}

svg .svg-elem-5 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.2000000000000002s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg.active .svg-elem-5 {
  fill: rgb(16, 24, 64);
}

svg .svg-elem-6 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg.active .svg-elem-6 {
  fill: rgb(16, 24, 64);
}

svg .svg-elem-7 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.4000000000000001s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

svg.active .svg-elem-7 {
  fill: rgb(16, 24, 64);
}

svg .svg-elem-8 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg.active .svg-elem-8 {
  fill: rgb(16, 24, 64);
}

svg .svg-elem-9 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

svg.active .svg-elem-9 {
  fill: rgb(16, 24, 64);
}

svg .svg-elem-10 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.7000000000000002s;
  transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
}

svg.active .svg-elem-10 {
  fill: rgb(16, 24, 64);
}

/* preloader */

/* scroll to top */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: var(--primary) !important;
  border: 0;
}
/* scroll to top */

/* wishlist heart animate */
.ph-heart-fill {
  -webkit-animation: wobble-hor-top 0.8s both;
  animation: wobble-hor-top 0.8s both;
}

@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
  }
  45% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }
}

/* common css */

/* responsive */
@media screen and (max-width: 992px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  /* #preloader > div > svg {
    width: calc(100% - 0px);
  } */
}
/* responsive */
