.reset-password .reset-pass-inner {
  max-width: 461px;
  width: 100%;
  margin: 179px auto;
  padding: 50px 30px;
  box-shadow: -4px -4px 8px rgba(112, 128, 176, 0.15),
    4px 4px 16px rgba(112, 128, 176, 0.15);
  border-radius: 8px;
}
.reset-password .reset-pass-inner h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #101840;
  margin-bottom: 16px;
}
.reset-password .reset-pass-inner p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #474d66;
  margin-bottom: 48px;
}

.reset-password .reset-pass-inner form label {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #101840;
}
.reset-password .reset-pass-inner form label span {
  font-weight: 400;
}
.reset-password .reset-pass-inner form input {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #474d66;
  padding: 16px 16px;
}
.reset-password .reset-pass-inner form button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
  padding: 12px 24px;
  background: #52bd94 !important;
  box-shadow: 0px 4px 8px rgba(16, 24, 64, 0.08);
  border-radius: 4px;
  width: 100%;
}

.reset-password .reset-pass-inner {
}
.reset-password .reset-pass-inner {
}
.reset-password .reset-pass-inner {
}
.reset-password .reset-pass-inner {
}
.reset-password {
}
.reset-password {
}
.reset-password {
}
.reset-password {
}
.reset-password {
}
.reset-password {
}
.reset-password {
}
.reset-password {
}
.reset-password {
}
.reset-password {
}
.reset-password {
}
.reset-password {
}
